
$color-white: #FFF;
$color-white-alpha: rgba(255,255,255, 0.8);
$color-white-alpha-hover: rgba(255,255,255, 0.1);
$color-aboutME-bg: #2ECC71;
$color-skills-bg: #C0392B;
$color-hobby-bg: #7F8C8D;
$color-experience-bg: #16A085;
$color-education-bg: #3498DB;
$color-qualifications-bg: #F39C12;

$fontSize-vw: 2vw;

